* {
    font-family: "Comic Sans MS";
}

body {
    background-image: url("https://amiller42.github.io/Cursed-Language/img/microfab.gif"), url("https://giphy.com/embed/Ze44chcCSUpyVN1gmQ/video");
}

h1 {
    color: red;
}

button {
    font-size: 16px;
    background-color: #ff00ff;
    width: 90px;
    height: 40px;
}

#codebox {
    width: 100%;
    height: 150px;
    overflow: visible;
    background-color: black;
}
