* {
    font-family: "Comic Sans MS";
}

body {
    background-image: url("https://amiller42.github.io/Cursed-Language/img/microfab.gif");
}

h1 {
    color: red;
}

p{
    color: white;
}

button {
    font-size: 16px;
    background-color: #ff00ff;
    width: 90px;
    height: 40px;
    color: white;
    cursor: pointer;
    
    animation-name: btn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.buttons {
    display: flex;
}

.btn-box {
    text-align: center;
    width: 110px;
    height: 75px;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#codebox {
    width: 100%;
    height: 140px;
    overflow: visible;
    outline: none;
    color: transparent;
    background-color: rgb(196, 247, 13);
    -webkit-background-clip: text;
}

#run { 
    animation-direction: alternate;
}

#link {
    animation-delay: -0.25s;
    animation-direction: alternate-reverse;
}

@keyframes btn {
    from {width: 90px; height: 40px;}
    to {width: 100px; height: 50px;}
}
